body {
  background-color: #f0db97;
}
h1 {
  text-align: center;
  margin: 30px auto;
}
p {
  text-align: center;
}

img {
  display: block;
  margin: 30px auto;
}

.homepagep {
  width: 700px;
  margin: 0 auto;
}
.links {
  text-align: center;
  color: green;
  margin: 20px auto;
  margin-left: 25px;
}
